#main{
    background-image: linear-gradient(to bottom,rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/netflix.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100%;
    padding: 1vw 1vw 1vw 1vw;
    
    
}
#sign-in a {
    color: #fff;
}
#sign-in {
    color:#fff;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #e50914;
    line-height: normal;
    padding:0.2vw 1.2vw;
    border-radius:0.7vw;
    border: none;
    font-weight: 400;
   
   
    font-size: 1rem;
   
}
#logo{
    width:12vw;
    height:4vw;
}
#shows{
    color: #fff;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    gap:1vw;
    padding-top: 10.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height:100vh;
  
  
}
#shows h1{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 3.9vw;
    font-weight:900;
}
#shows .subtitle{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:2vw;
    font-weight:500;
}
#shows .desc{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:1.5vw;
    font-weight:300;
}
#sign-up a {
    color: #fff;
}
#sign-up{
    color:#fff;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #e50914;
    line-height: normal;
    padding:0.8vw 1.5vw;
    border-radius:0.7vw;
    border: none;
    font-weight: 400;
    align-self: center;
   width: 30%;
    font-size: 1rem;
}
#user-btn{
    color:#fff;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #e50914;
    line-height: normal;
    
    border-radius:0.7vw;
    border: none;
    font-weight: 400;
    align-self: center;
    
    
}
#user-logout {
    margin-left:1vw;
    color: #fff;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #e50914;
    line-height: normal;
    
    border-radius:0.7vw;
    border: none;
    font-weight: 400;
    align-self: center;
}
#login,#register{
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../img/netflix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 1vw 4vw 1vw 4vw;
    color: #fff;
}
#col-login,#col-register{
    background-color:#000;
    opacity: 0.8;
   
    margin-top: 6.5%;
   
    
    
    
}
#form-login,#form-register{
    display: block;
    
    
    padding: 3vw 3vw 3vw 4vw;
    
}
#form-register .helptext{
    display:none;
}
#login-btn,#signup{
    color:#fff;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #e50914;
    line-height: normal;
    padding:1.4vw 1.5vw;
    border-radius:0.7vw;
    border: none;
    font-weight: 400;
    
    align-items: center;
    width: 100%;
    font-size: 1rem;
}
#id_username,#id_password,#id_email,#id_password1,#id_password2{
    background-color: #333;
    display:table;
    padding: 2% 2%;

    width:100%;
    border:none;
    outline:none;
    border-radius:0.3vw;
    /* margin:1.3vw; */
    color: #8c8c8c;
        
}
/* #form-login{
        background-color: rgb(209, 202, 202);;
        outline: none;
        border: none;
        border-bottom: solid 0.05vw #fff;
        padding: 2% 2%;
        margin:1.3vw;
        color: red;
        font-size: 0.9vw;
} */


#trend{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.8vw;
    /* text-align: center; */
    font-weight:300;
    /* background-image: linear-gradient(to bottom,rgba(0,0,0,.9),rgba(0,0,0,.9)),url(../img/netflix.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2vw;
    padding-bottom: 2vw;
    color: rgb(255, 255, 255);
   
}
#trending{
    top:0;
    /* margin-top:-3vw; */
    color: rgb(0, 0, 0);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-image: linear-gradient(to bottom,rgba(0,0,0,.9),rgba(0,0,0,.9)),url(../img/netflix.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    
    color: #fff;
  
  
}
#trending-card{
    width:24vw ;
    border:none;
    background:none;
    

}
#trending img {
    width: 24vw;
    height: 29vw;
    gap:2%;
    padding: 1vw;
}
#title{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.3vw;
    text-align: center;
    font-weight:300;
}
#rate{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.3vw;
    text-align: center;
    font-weight:300;
}